// Palette generator
$colors: (
  primary:
  (
    base: $primary,
    light: lighten($primary, 15%),
    dark: darken($primary, 15%),
  ),
  secondary:
  (
    base: $secondary,
    light: lighten($secondary, 15%),
    dark: darken($secondary, 15%),
  ),
  grey:
  (
    80: lighten($black, 20%),
    70: lighten($black, 30%),
    60: lighten($black, 40%),
    50: lighten($black, 50%),
    40: lighten($black, 60%),
    30: lighten($black, 70%),
    20: lighten($black, 80%),
    10: lighten($black, 90%),
    5: lighten($black, 95%),
    2: lighten($black, 98%)
  ),
);


// Colors

@mixin color($attribute: 'color', $prefix: '-', $separator: '-', $base: 'base') {
  @each $name, $color in $colors {
    &#{$prefix}#{$name} {
      @each $tone, $hex in $color {
        &#{if($tone != $base, #{$separator}#{$tone}, '')} {
          #{$attribute}: $hex;
        }
      }
    }
  }
}

.color {
  @include color($prefix: '--');
}

// Background colors

@mixin background-color($attribute: 'background-color', $prefix: '-', $separator: '-', $base: 'base') {
  @each $name, $color in $colors {
    &#{$prefix}#{$name} {
      @each $tone, $hex in $color {
        &#{if($tone != $base, #{$separator}#{$tone}, '')} {
          #{$attribute}: $hex;
        }
      }
    }
  }
}

.bg-color {
  @include background-color($prefix: '--');
}
