// Links 
.link {
  @include transition(color);
  color: $primary;
  font-weight: 400;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken($primary, 15%);
  }

  &--underlined {
    text-decoration: underline;
  }

  &--light {
    color: $white;
  }
}
