// Typography

$base-font-size: 1rem; // Base font size
$heading-scale: .5; // Scaling factor

@for $i from 1 through 6 {
  h#{$i} {
    font-size: $base-font-size + $heading-scale * (6 - $i);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 0 1.5rem;
}

h1 {
  letter-spacing: -.1rem;
  line-height: 1.2;
}

h2 {
  letter-spacing: -.1rem;
  line-height: 1.25;
}

h3 {
  letter-spacing: -.1rem;
  line-height: 1.3;
}

h4 {
  letter-spacing: -.08rem;
  line-height: 1.35;
}

h5 {
  letter-spacing: -.05rem;
  line-height: 1.5;
}

h6 {
  letter-spacing: 0;
  line-height: 1.6;
}

p {
  font-size: $base-font-size;
  line-height: 1.4;
}
