button {
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  outline: 0;
}

.button {
  border-radius: .25rem;
  cursor: pointer;
  font-weight: 500;
  padding: .5rem 1rem;
  text-decoration: none;

  &--primary {
    @include transition(background-color);
    background-color: color(primary, base);
    color: color(text, primary-light);

    &:hover {
      background-color: color(primary, dark);
    }
  }

  &--ghost {
    @include transition(all);
    background-color: transparent;
    border: 1px solid color(primary, base);
    color: color(primary, base);

    &:hover {
      border-color: color(primary, dark);
      color: color(primary, dark);
    }
  }
}
