button {
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  border: 0;
  outline: 0;
}

.button {
  border-radius: .25rem;
  cursor: pointer;
  font-weight: 500;
  padding: .5rem 1rem;
  text-decoration: none;

  &--primary {
    @include transition(background-color);
    background-color: $primary;
    color: $text-primary-light;

    &:hover {
      background-color: darken($primary, 15%);
    }
  }

  &--ghost {
    @include transition(all);
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;

    &:hover {
      background-color: transparentize($primary, .9);
      border-color: darken($primary, 15%);
      color: darken($primary, 15%);
    }
  }
}
