.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: $white;
  border: 1px solid lighten($black, 90%);
  border-radius: .25rem;
  flex: 0 1 24rem;
  margin: 1rem;
  padding: 1.5rem;

  &-image {
    height: 12rem;
    overflow: hidden;
  }

  img {
    width: 100%;
  }

  p {
    color: $text-secondary-dark;
  }
}
