.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  @include box-shadow($box-shadow);
  @include for-large($breakpoint) {
    flex: 0 1 20rem;
    margin: .5rem;
  };
  background-color: $white;
  border-radius: .25rem;
  flex: 0 1 auto;
  margin: .5rem 0;
  padding: 1.5rem;


  &-image {
    height: 12rem;
    overflow: hidden;
  }

  img {
    width: 100%;
  }

  p {
    color: $text-secondary-dark;
  }

  //Card variation
  &--small {
    @include transition(all);
    color: $primary;
    flex: 0 1 16rem;
    text-decoration: none;

    &:hover {
      box-shadow: 0 4px 20px 0 transparentize($primary, .87);
      color: lighten($primary, 10%);
    }
  }
}
